[Unit] 
Description=Alert Manager Service 
After=network-online.target 

[Service] 
Type=simple 
ExecStart=/usr/local/bin/alertmanager \
	--config.file=/etc/alertmanager/alertmanager.yml \
	--web.route-prefix=/ 

[Install] 
WantedBy=multi-user.target 
